{% extends 'baseFiles/base.html' %}
{% load crispy_forms_tags %}
{% block title %}password Reset done {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-4">
            <div class="card my-3 shadow ">
                <div class="card-body">
                    <h2 class="mb-4">password Reset done</h2>
                    <br>
                    <div class="alert alert-info">
                        reset password instruction is sent to email you provided

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}