{% extends 'baseFiles/base.html' %}
{% load crispy_forms_tags %}
{% block title %}confirm Reset {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-4">
            <div class="card my-3 shadow ">
                <div class="card-body">
                    <h2 class="mb-4">Reset Password confirm page</h2>
                    <form method="POST">  
                        {% csrf_token %} 
                        {{form | crispy }}
                        <input type="submit" class="btn btn-primary btn-block my-4 bg-danger", value="confirm Request Reset">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}