{% extends 'baseFiles/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Posts {% endblock %}
{% block content %}
 
<div class="container">
    <div class="row mt-5 pt-5">
       <div class="col-md-8 offset-md-2">
        <div class="card my-3 shadow">
            <div class="card-body"> 
                <div class="alert alert-danger">
                 Are you sure you want to delete this blog  
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input class="btn btn-secondary " type="text" class="submit">
                    <input class="btn btn-primary " type="text" class="submit">
                </form>
            </div>
        </div>
       </div>
    </div>
</div>

{% endblock %}