{% extends 'baseFiles/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- btn  -->


<!-- Button trigger modal -->
{% if request.user.is_authenticated %}
<button type="button" class="btn btn-primary mt-5 ml-5" data-toggle="modal" data-target="#exampleModalLong">
    Create your Blog
  </button>
  {% endif %} 
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="col-md-12">
                <div class="card my-3 shadow ">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{form | crispy}}
                            <input type="submit" class="btn btn-primary", value="post">
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- btn  -->
















<div class="container">
    <div class="row mt-5 pt-5">
        <!-- <div class="col-md-4">
            <div class="card my-3 shadow ">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        <input type="submit" class="btn btn-primary", value="post">
                    </form>
                </div>
            </div>
        </div> -->
        <div class="col-md-12">
            {% for post in posts %}  
            <div class="card shadow mb-3 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                           <small> <img class="img-thumbnail" src="{{post.author.accountmodel.image.url}}" alt="image1"></small>
                        </div>
                        <div class="col-md-10">
                            <small>{{post.date_created}} </small>
                            <hr>
                            <a href="{% url 'post_details' post.id %}" class="h3 text-decoration-none">{{post.title}}</a>
                            <p class="text-justify my-3">{{post.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}