{% extends 'baseFiles/base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% block title %}Sport News {% endblock %}
{% block content %}

<h1>Sport News</h1>


<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col-md-12">
      {% for posts in post %}
      <div class="card shadow mb-3 ">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <small> <img class="img-thumbnail" src="{{posts.author.accountmodel.image.url}}" alt="image1"></small>
            </div>
            <div class="col-md-10">
              <small>{{posts.date_created}} </small>
              <hr>
              <a href="" class="h3 text-decoration-none">{{posts.title}}</a>
              <p class="text-justify my-3">{{posts.content}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}