{% extends 'baseFiles/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Posts {% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <small> <img class="img-thumbnail" src="{{post.author.accountmodel.image.url}}"
                                    alt="image1"></small>
                        </div>
                        <div class="col-md-10">
                            <small>{{ post.date_created }}</small>
                            <br>
                            <small> Author :{{ post.author.username }}</small>

                            {% if post.author == request.user %}
                            <span><a class="btn btn-outline-secondary" href="{% url 'edit_post' post.id %}">Edit Blog
                                </a></span>
                            <span><a class="btn btn-danger " href="{% url 'delete_post' post.id %}">Delete Blog
                                </a></span>
                            {% endif %}
                            <hr>
                            <h3>{{post.title}}</h3>
                            <p>{{post.content}}</p>
                        </div>
                    </div>
                    <!-- comment -->
                    {% if request.user.is_authenticated %}
                    <p class="mt-2">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            view comments({{post.Count_cmnt}})
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div style="height: 250px; overflow-y: scroll;" class=  "card card-body">
                            {% for comment in post.postcomments_set.all  %}
                            <div class=" m-2  row border border-primary">
                                <div class=" m-2 col-3 border text-success rounded-top">
                                    {{ comment.user.username }}
                                </div>
                                <div class="   col-11  border-top rounded-buttom">
                                    {{ comment.content }}
                                </div>
                            </div>
                           {% endfor %} 
                        </div>
                    </div> 

                    <!-- comment -->
                    add comment
                    <form method="POST">
                        {% csrf_token %}
                        {{c_form | crispy}}
                        <input class="btn btn-secondary" type="submit" value="post comment ">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}